<%= form_for :order, url: populate_orders_path do |f| %>
  <div class="" id="inside-product-cart-form" data-hook="inside_product_cart_form" itemprop="offers" itemscope itemtype="https://schema.org/Offer">
    
  <%= render :partial => "display_variants" %>
  <%= render :partial => "display_price" %>
    
  </div>
<% end %>






