 <% max_level = Spree::Config[:max_level_in_taxons_menu] || 1 %>

 <div class="Asha-your">
    <!-- requried-jsfiles-for owl -->
   <%= stylesheet_link_tag 'spree/frontend/owl.carousel.css', media: 'screen' %>
   <%= javascript_include_tag 'spree/frontend/owl.carousel.js' %>

    <script>
    $(document).ready(function() {
        $("#owl-demo").owlCarousel({
            items: 5,
            lazyLoad: true,
            autoPlay: true,
            navigation: true,
            navigationText: true,
            pagination: false,
        });
    });
    </script>
    <!-- //requried-jsfiles-for owl -->
    <!-- start content_slider -->
    <div class="line1"></div>
    <div id="example1">
        <div id="owl-demo" class="owl-carousel text-center">
            <% @taxonomies.each do |taxonomy| %>
                    <% cache [I18n.locale, taxonomy, max_level, @taxon] do %>
                        <%= taxons_home_tree(taxonomy.root, @taxon, max_level) %>
                    <% end %>
            <% end %>

        </div>
    </div>
    <h6 class="your-in">Your Asha</h6>
    <div class="line2">
    </div>
</div>
<!--//sreen-gallery-cursual-->


