<%
  paginated_products = @searcher.retrieve_products if params.key?(:keywords)
  paginated_products ||= products
%>

<% content_for :head do %>
    <% if paginated_products.respond_to?(:total_pages) %>
        <%= rel_next_prev_link_tags paginated_products %>
    <% end %>
<% end %>

<% if params[:keywords] %>
<div class="container"><div class=" bs-callout bs-callout-success"><h4 class=""><%= Spree.t(:search_results, keywords: h(params[:keywords])) %></h4></div></div>
<% end %>
<!---->
<div class="product-grids" id="products" data-hook>
  <div class="container">
    <div class="product-top">

      <% if products.any? %>
          <% products.each do |product| %>
              <%= render partial: 'sprees/shared/product_default', locals: {product: product} %>
          <% end %>

          <% reset_cycle("classes") %>

      <% end %>

      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!---->

<% if paginated_products.respond_to?(:total_pages) %>
    <%= paginate paginated_products %>
<% end %>

