

 <!---->
    <div class="container">
    <% @body_id = 'signup' %>
    <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @user } %>
        <div class="register">
            <h2>REGISTER</h2>
            <div id="new-customer" class=" register-top" data-hook="login">
                <%= form_for resource, :as => :spree_user, :url => spree.registration_path do |f| %>
                    <div data-hook="signup_inside_form">
                      <%= render :partial => 'spree/shared/user_form', :locals => { :f => f } %>
                      <%= f.submit Spree.t(:create), :class => '' %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
<!---->