<%= form_for Spree::User.new, as: :spree_user, url: spree.create_new_session_path do |f| %>
  <fieldset id="password-credentials">
    <div >
      <span>Email</span>
      <%= f.text_field :email, tabindex: 1, placeholder: Spree.t(:email) %>
    </div>
    <div >
      <span>Password</span>
      <%= f.password_field :password, tabindex: 2, placeholder: Spree.t(:password) %>
    </div>
 
      <%= f.submit Spree.t(:login), class: '', tabindex: 3 %>
 
  </fieldset>
<% end %>
