<% @body_id = 'home-page' %>

<%= render partial: 'spree/shared/banner' %>
<div class="content">
	<%= render partial: 'spree/shared/home_categories' %>
	<div data-hook="homepage_products">
	  <% cache(cache_key_for_products) do %>
	    <%= render partial: 'spree/shared/products_home', locals: { products: @products } %>
	  <% end %>
	</div>
	
</div>